@font-face {
    font-family: 'StayPuft'; 
    src: url(../fonts/StayPuft.ttf);
    
  }
  
  $pinkColor: #ec80aa;
  $violetColor:#9e76c9;
  $greenColor:#b2dfdbc2;
  $logoColor: #162eb3;
  
  
  @mixin photoBoxWithImage($animal) {
    background: url('../images/#{$animal}.jpg');
    background-repeat: no-repeat;
    background-size: 117%;
    background-position: center center;
    position:relative;
   
    @media(min-width:520px) {
      background-position: center;
    }
  
    @media(min-width: 1100px){
      background-size: 121%;
    }
  
    @media(min-width:1200px){
      background-size: 133%;
  
    }
  }
  
  
  @mixin buttonsInGallery ($size, $size2) {
    position: absolute;
    font-size: 2rem;
    height: $size;
    width: $size;
    fill:$pinkColor;
    cursor: pointer;
    @media(min-width:950px) {
      height: $size2;
      width: $size2;
    }
  }
  
  